<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/41b1f2d5-95db-46a1-968c-c172a404f63c/resourceGroups/NetworkWatcherRG/providers/Microsoft.Web/sites/ReverseProxy20221223095708</ResourceId>
    <ResourceGroup>NetworkWatcherRG</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://reverseproxy20221223095708.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>9e817d00-afea-4e9e-a7b8-d7783ff7d589</ProjectGuid>
    <PublishUrl>https://reverseproxy20221223095708.scm.azurewebsites.net/</PublishUrl>
    <UserName>$ReverseProxy20221223095708</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>